<template>
    <form @submit.prevent="addTechno">
        <label for="techno">Techno à ajouter</label>
        <br>
        <input type="text" name="techno" id="techno" v-model="techToLearn">
        <br>
        <button type="submit">Ajouter</button>
    </form>
</template>

<script>

import { ref } from 'vue'; //methode ref pour rendre réactif

export default {
    setup(props, ctx) { // objet props (parent-> enfant) objet contexte (enfant->parent) == emit
        // plus besoin de this

        let techToLearn = ref(""); //techToLearn est donc réactif

        const addTechno = () => {
            console.log("Form " + techToLearn.value); //techToLearn est un objet, il faut donc spécifier la value
            ctx.emit("add", techToLearn.value);
            techToLearn.value = "";
        }

        return {
            techToLearn,
            addTechno
        }
    }
}
</script>

<style>
    input{
        margin: 10px 0;
    }
</style>