<template>
    <h1>Veille techno</h1>
    <Form @add="saveTechno"/> 

    <ul>
      <li v-for="item in technos" :key="item.id">
        {{item.techno}}
      </li>
    </ul>
</template>

<script>
import Form from './components/Form.vue'
import { ref } from 'vue';

export default {
  name: 'App',
  components: {
    Form
  },
  setup(){
    let technos = ref([]);

    const saveTechno = (data) => {
      console.log("App " +  data);
      technos.value = [...technos.value, {techno: data, id: Date.now()}]
      console.log(technos.value);
    }
    return  {
      saveTechno,
      technos
    }
  }

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
